*{
	font-family: 'Roboto', sans-serif;
}
body{
	margin: 0;
}
nav{
	
}
nav h3{
	margin: 0;
	padding: 35px 50px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 22.5px;
}
.main{
	
}
.mainText{
	display: inline-block;
	vertical-align: top;
	padding: 100px 130px;
}
.mainText h1{
	text-transform: capitalize;
	font-weight: 500;
	font-size: 80px;
	margin: 0px;
	line-height: 80px;
	letter-spacing: 1px;
}
.mainText p{
	font-size: 20px;
	margin: 15px 0 50px 0;
	line-height: 25px;
}
.cta{
	background: #5E9EFF;
	color: #fff;
	padding: 12.5px 18px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 5px;
}
.cta:hover{
	opacity: 0.8; 
}
.ctaSub{
	opacity: 0.7;
	font-weight: 400;
}
.mainillustration{
	background: #aaf;
	display: inline-block;
	height: 350px;
	width: 530px;
	vertical-align: top;
	margin: 70px 70px;
	opacity: 0.7;
	background-image: url('../images/tempill.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.goodStuff{
	background: rgba(94,158,255,0.05);
	padding: 1px;
}
.goodStuff .slide{
	height: 500px;
	width: 80vw;
	border-radius: 5px;
	margin: 150px auto;
	background: #F4C9B8;
}
.goodStuff .slide:nth-child(1){background: #F4C9B8;}
.goodStuff .slide:nth-child(2){background: #C1E5D8;}
.goodStuff .slide:nth-child(3){background: #F8F0A2;}

.goodStuff .slide .words{
	background:#fff;
	width: 400px;
	margin: -30px 0 50px 50px;
	padding-top: 60px;
	padding-bottom: 20px;
	border-radius: 5px;
	float: left;
	position: relative;
}
.goodStuff .slide:nth-child(even) .words{float: right; margin: -30px 50px 50px 0px;}

.goodStuff .slide .words h1{
	font-weight: 500;
	display: inline-block;
	color: #999999;
	margin: 0  0 20px 65px;
	width: auto;
	height: 27px;
	box-shadow: 0 5px 0 #F4C9B8;
}
.goodStuff .slide:nth-child(1) .words h1{box-shadow: 0 5px 0 #F4C9B8;}
.goodStuff .slide:nth-child(2) .words h1{box-shadow: 0 5px 0 #C1E5D8;}
.goodStuff .slide:nth-child(3) .words h1{box-shadow: 0 5px 0 #F8F0A2;}

.goodStuff .slide .words p{
	margin: 15px 50px;
	line-height: 30px;
	color: #999999;
	font-weight: 300;
}
.goodStuff .slide .words a{
	border: solid 2px #eee;
	text-decoration: none;
	padding: 9px 20px;
	border-radius: 50px;
	margin: 35px 60px;
	width: 100px;
	text-align: center;
	display: block;
	color: #aaa;
}
.goodStuff .slide .illustrations{
	width: 50%;
	padding: 70px 0;
	position: relative;
	float: right;
	text-align: center;
}
.goodStuff .slide .illustrations img{
	background: #fff;
	border-radius: 50%;
}
.goodStuff .slide:nth-child(even) .illustrations{float: left;}

.who h3{
	font-weight: 500;
	font-size: 25px;
	margin: 30px 60px;
}
.who img{
	max-height: 68px;
	height: calc(35vw/ 6);
	margin: 0 calc(27vw/ 7);
}
.companies{
	text-align: center;
}
footer{
	background: #C0D9FF;
	text-align: center;
	color: #fff;
	padding: 10px;
}
footer h1{
	display: inline-block;
	margin: 20px;
	font-weight: 500;
	vertical-align: top;
}
footer .github{
	height: 60px;
	margin: 20px;
	margin-top: 7.5px;
	cursor: pointer;
}
footer .github:hover{
	opacity: 0.9;
}
footer .heart{
	height: 50px;
	margin: 12px 0;
}